/* index.css */
#wrap {
    max-width:var(--width-desk); width:100%;
    margin:0 auto;
}
/* ---------------------------------------- 1행-헤더 */
#wrap header {
    max-width:var(--width-desk); height:65px;
    background-color:var(--color-sub-bg);
    position:fixed; left:50%; top:0; width:100%; z-index:999;
    transform:translateX(-50%);
}
#wrap header .header_wrap {width:var(--width-container); margin:0 auto;}
/* ---------------------------------------- 1-1. 로고 */
#wrap header h1 {width:60px; height:62px;}
#wrap header h1 a {}
#wrap header h1 a img {width:100%;}
/* ---------------------------------------- 1-2. 네비 */
#wrap header nav {}
#wrap header nav .gnb {gap:var(--spacing-50);}
#wrap header nav .gnb > li {}
#wrap header nav .gnb > li a {
    color:var(--color-light);
    font-weight:var(--font-weight-medium);
    white-space:nowrap;
}
#wrap header nav .gnb > li a:hover {color:var(--color-primary);}
/* ---------------------------------------- 1-2-1. 서브 네비 컨테이너 */
#wrap header nav .gnb > li .snb_nav_container {
    position:absolute; left:0; top:100%; 
    width:100%; height:0; padding:0 270px;
    background-color:var(--color-light);
    box-shadow:0 13px 22px 0 rgba(0, 0, 0, 0.07);
    opacity:0; overflow:hidden;
    transition:opacity 0.3s, height 0.3s, padding 0.3s;
}
#wrap header nav .gnb li:nth-child(1):hover .snb_nav_container {opacity:1; height:364px; padding:40px 270px 80px;}
#wrap header nav .gnb > li .snb_nav_container .lnb {}
#wrap header nav .gnb > li .snb_nav_container .lnb > li {}
#wrap header nav .gnb > li .snb_nav_container .lnb > li:nth-child(6) p {color:var(--color-primary);}
#wrap header nav .gnb > li .snb_nav_container .lnb > li .category {
    margin-bottom:var(--spacing-22);
    font-weight:var(--font-weight-semibold);
}
#wrap header nav .gnb > li .snb_nav_container .lnb > li .lnb_list {display:flex; flex-flow:column nowrap; gap:var(--spacing-18);}
#wrap header nav .gnb > li .snb_nav_container .lnb > li .lnb_list > li {}
#wrap header nav .gnb > li .snb_nav_container .lnb > li .lnb_list > li a {
    color:var(--color-inactive-v3);
    font-size:var(--font-size-14);
    transition:color 0.3s ease, font-weight 0.3s ease;
}
#wrap header nav .gnb > li .snb_nav_container .lnb > li .lnb_list > li a:hover {color:var(--color-dark); font-weight:var(--font-weight-medium);}
/* ---------------------------------------- 1-3. 메뉴(오른쪽) */
#wrap header .menu_wrap {gap:var(--spacing-14); flex-shrink:0;}
#wrap header .menu_wrap li {}
#wrap header .menu_wrap li .search_open_btn {width:26px; height:26px;}
#wrap header .menu_wrap li .search_open_btn img {width:100%;}
#wrap header .menu_wrap li a {width:26px; height:26px;}
#wrap header .menu_wrap li a img {width:100%;}
/* ---------------------------------------- 1-4. 검색 오픈 레이어 영역 */
#wrap header .search_open {
    position:absolute; left:0; top:100%; width:100%; 
    background-color:var(--color-light); box-shadow:0 13px 22px 0 rgba(0, 0, 0, 0.07); 
    padding:30px 270px 100px;
    opacity:0; visibility:hidden;
    transition:opacity 0.3s ease, visibility 0.3s ease;
}
#wrap header .search_open.active {opacity:1; visibility:visible;}
#wrap header .search_open .open_container {position:relative; padding-top:var(--spacing-40);}
/* ---------------------------------------- 1-4-1. 검색창 닫기 버튼 */
#wrap header .search_open .open_container .search_close_btn {position:absolute; right:0; top:0;}
#wrap header .search_open .open_container .search_close_btn button {width:26px;}
#wrap header .search_open .open_container .search_close_btn button img {width:100%;}
/* ---------------------------------------- 1-4-2. 검색창 입력창 */
#wrap header .search_open .open_container .search_fom {align-items:center; background-color:var(--color-search-bar); padding:16px 20px; border-radius:var(--radius-xs); margin-bottom:var(--spacing-20);}
#wrap header .search_open .open_container .search_fom .submit_btn {width:26px; margin-right:var(--spacing-10);}
#wrap header .search_open .open_container .search_fom .submit_btn img {width:100%;}
#wrap header .search_open .open_container .search_fom #user_search {background-color:transparent; width:100%;}
#wrap header .search_open .open_container .search_fom #user_search::placeholder {color:var(--color-inactive-v2);}
/* ---------------------------------------- 1-4-3. 최근 검색어 */
#wrap header .search_open .open_container .recent_search {gap:var(--spacing-10); margin-bottom:var(--spacing-20); align-items:center;}
#wrap header .search_open .open_container .recent_search .title {font-weight:var(--font-weight-medium);}
#wrap header .search_open .open_container .recent_search .no_data {font-size:var(--font-size-14); color:var(--color-sub-content);}
/* ---------------------------------------- 1-4-4. 추천 검색어 */
#wrap header .search_open .open_container .recommend_search {gap:var(--spacing-10); align-items:center;}
#wrap header .search_open .open_container .recommend_search .title {font-weight:var(--font-weight-medium); line-height:1; margin-bottom:2px;}
#wrap header .search_open .open_container .recommend_search .recommend_list {display:flex; flex-flow:row wrap; gap:var(--spacing-6);}
#wrap header .search_open .open_container .recommend_search .recommend_list li {
    padding:6px 10px; background-color:var(--color-main-bg); 
    border:1.5px solid var(--color-point); border-radius:var(--radius-m);
    display:flex; flex-flow:row nowrap; align-items:center;
}
#wrap header .search_open .open_container .recommend_search .recommend_list li a {font-size:var(--font-size-12); text-align:center;}
/* ---------------------------------------- 2행-메인 광고 배너 */
/* #wrap main .main_banner {
    background-image:url(../images/main_banner.jpg);
    background-size:cover;
    background-position:center -60%;
    background-repeat:no-repeat;
    width:100%; height:850px;
} */
#wrap main .main_banner {width:100%;}
#wrap main .main_banner .main_br {}
#wrap main .main_banner .main_br .swiper-wrapper {}
#wrap main .main_banner .main_br .swiper-wrapper .main_br_slide {
    height:850px; background-size:cover;
    background-position:center -60%;
    background-repeat:no-repeat; height:850px;
}
#wrap main .main_banner .main_br .swiper-wrapper .main_br_slide .banner_link {display:block; width:100%; height:100%;}
#wrap main .main_banner .main_br .swiper-pagination {}
#wrap main .main_banner .main_br .swiper-pagination-bullet {transition:width 0.5s ease, border-radius 0.5s ease, background-color 0.5s ease;}
#wrap main .main_banner .main_br .swiper-pagination-bullet-active {
    background-color:var(--color-light);
     /* border:2px solid var(--color-dark); */  border-radius:5px;
    opacity:1; width:45px;
}
/* ---------------------------------------- 3행-베스트 섹션 */
#wrap main .best {
    padding:120px 0; width:var(--width-container); margin:0 auto;
    display:flex; flex-flow:row nowrap; gap:var(--spacing-80);
    justify-content:space-between;
}
/* ---------------------------------------- 3-1. (오른쪽) 타이틀 랩 */
#wrap main .best .best_title_wrap {width:259px;}
/* ---------------------------------------- 3-1-1. 베스트 타이틀 헤더 */
#wrap main .best .best_title_wrap .best_header {width:100%}
#wrap main .best .best_title_wrap .best_header .best_title {font-weight:var(--font-weight-medium); font-size:var(--font-size-32); margin-bottom:10px;}
#wrap main .best .best_title_wrap .best_header .best_desc {
    font-size:var(--font-size-14); 
    padding-bottom:var(--spacing-30);
    border-bottom:1px solid var(--color-inactive-v1);
}
/* ---------------------------------------- 3-1-2. 카테고리 탭 영역 */
#wrap main .best .best_title_wrap .best_tab_list {margin:50px 0 317px; gap:var(--spacing-30);}
#wrap main .best .best_title_wrap .best_tab_list li {}
#wrap main .best .best_title_wrap .best_tab_list li .tab_btn {font-size:var(--font-size-18); color:var(--color-inactive-v1); position:relative;}
#wrap main .best .best_title_wrap .best_tab_list li .tab_btn::after {
    content:''; position:absolute; left:0; bottom:-10px;
    width:130%; height:3px; background-color:var(--color-point);
    opacity:0; transform-origin:left center; transform:scale(0);
    transition:opacity 0.4s ease, transform 0.4s ease;
}
#wrap main .best .best_title_wrap .best_tab_list li .tab_btn:hover::after {
    opacity:1; transform:scale(1);
}
#wrap main .best .best_title_wrap .best_tab_list li .active {font-size:var(--font-size-20); color:var(--color-dark); font-weight:var(--font-weight-semibold);}
/* #wrap main .best .best_title_wrap .best_tab_list li .active::after {opacity:1; transform:scale(1);} */
/* ---------------------------------------- 3-1-3. 더보기 버튼 */
#wrap main .best .best_title_wrap .more_btn {
    display:flex; justify-content:center; align-items:center;
    width:100%; height:40px;
    border:1px solid var(--color-dark); border-radius:var(--radius-xs);
    color:var(--color-dark);
    position:relative; overflow:hidden; z-index:1;
    transition:color 0.7s ease;
}
#wrap main .best .best_title_wrap .more_btn::after {
    content:''; display:block;
    position:absolute; left:0; top:0; z-index:-1;
    width:100%; height:100%;
    background-color:var(--color-dark);
    transform:scaleX(0); transform-origin:left center; transition:transform 0.9s ease;
}
#wrap main .best .best_title_wrap .more_btn img {
    width:14px; height:14px;
    transform:translateY(1px) rotate(0deg); transition:filter 0.9s ease, transform 0.9s ease;
}
#wrap main .best .best_title_wrap .more_btn:hover::after {transform:scaleX(1);}
#wrap main .best .best_title_wrap .more_btn:hover {color:var(--color-light);}
#wrap main .best .best_title_wrap .more_btn:hover img {filter:invert(1); transform:translateY(1px) rotate(360deg);}
/* ---------------------------------------- 3-2. (왼쪽) 상품 스와이퍼 */
#wrap main .best .best_item_list {flex:1; position:relative; padding-bottom:50px;}
#wrap main .best .best_item_list .swiper-wrapper {}
#wrap main .best .best_item_list .swiper-wrapper .best_slide {position:relative;}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item {}
#wrap main .best .best_item_list .swiper_control_wrap {
    position:absolute; left:50%; bottom:0; z-index:10;
    transform:translateX(-50%);
    align-items:center; justify-content:center; gap:var(--spacing-16);
}
#wrap main .best .best_item_list .swiper_control_wrap .swiper-button-prev,
#wrap main .best .best_item_list .swiper_control_wrap .swiper-button-next {
    position:static; width:20px; height:20px; margin:0;
    background-size:contain; background-position:center; background-repeat:no-repeat;
}
#wrap main .best .best_item_list .swiper_control_wrap .swiper-button-prev svg,
#wrap main .best .best_item_list .swiper_control_wrap .swiper-button-next svg {display:none;}
#wrap main .best .best_item_list .swiper_control_wrap .swiper-button-prev {background-image:url(../images/more_prev_icon.png);}
#wrap main .best .best_item_list .swiper_control_wrap .swiper-button-next {background-image:url(../images/more_view_icon.png);}
#wrap main .best .best_item_list .swiper_control_wrap .swiper-pagination-fraction {position:static; width:auto; font-size:var(--font-size-14);}
/* ---------------------------------------- 3-2-1. top */
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_top {
    position:relative; 
    width:100%; height:440px; overflow:hidden;
    margin-bottom:var(--spacing-16);
}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_top .size_label {
    width:57px; height:26px;
    display:flex; flex-flow:row nowrap; justify-content:center; align-items:center;
    background-color:var(--color-light); 
    border-radius:var(--radius-l); 
    box-shadow:0 0 4px 0 rgba(0, 0, 0, 0.25);
    position:absolute; right:20px; top:20px; z-index:10;
    font-size:var(--font-size-18);
}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_top img {
    width:100%; height:100%;
    object-fit:cover;
    transition:transform 0.5s;
}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_top:hover img {transform:scale(1.1);}
/* ---------------------------------------- 3-2-2. btm */
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_btm {}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_btm * {}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_btm h3{font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-14);}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_btm .item_origin_price{font-size:var(--font-size-14); color:var(--color-inactive-v1);}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_btm .sale_price {display:flex; flex-flow:row nowrap; gap:var(--spacing-10); margin-top:14px;}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_btm .sale_price .sale{font-size:var(--font-size-17); font-weight:var(--font-weight-semibold); color:var(--color-primary);}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .best_item .item_btm .sale_price .price{font-size:var(--font-size-17); font-weight:var(--font-weight-semibold);}
/* ---------------------------------------- 3-3. 관심상품 등록 */
#wrap main .best .best_item_list .swiper-wrapper .best_slide .favorite_btn {
    position:absolute; right:20px; top:384px;
    width:36px; height:36px; z-index:10;
    display:flex; justify-content:center; align-items:center;
}
#wrap main .best .best_item_list .swiper-wrapper .best_slide .favorite_btn img {width:100%;}
/* ---------------------------------------- 4행-신상품 섹션 */
#wrap main .new {background-color:var(--color-main-bg);}
#wrap main .new .new_wrap {padding:120px 0; width:var(--width-container); margin:0 auto; gap:var(--spacing-20);}
/* ---------------------------------------- 4-1. (위) 타이틀 랩 */
#wrap main .new .new_title_wrap {width:100%; justify-content:space-between; align-items:flex-end;}
/* ---------------------------------------- 4-1-1. 신상품 타이틀 헤더 */
#wrap main .new .new_title_wrap .new_header {}
#wrap main .new .new_title_wrap .new_header .new_title {font-size:var(--font-size-32); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-10);}
#wrap main .new .new_title_wrap .new_header .new_desc {color:var(--color-sub-content); margin-bottom:var(--spacing-20);}
/* ---------------------------------------- 4-1-2. 전체보기 */
#wrap main .new .new_title_wrap .new_more_btn {font-size:var(--font-size-14); justify-content:flex-end; align-items:center;}
#wrap main .new .new_title_wrap .new_more_btn img {width:18px;}
/* ---------------------------------------- 4-2. (아래) 타이틀 랩 */
#wrap main .new .new_item_list {gap:var(--spacing-20);}
#wrap main .new .new_item_list li {position:relative;}
#wrap main .new .new_item_list li .new_item {}
/* ---------------------------------------- 4-2-1. top */
#wrap main .new .new_item_list li .new_item .item_top {width:330px; height:440px; overflow:hidden;}
#wrap main .new .new_item_list li .new_item .item_top img {width:100%; transition:transform 0.5s;}
#wrap main .new .new_item_list li .new_item .item_top img:hover {transform:scale(1.1);}
/* ---------------------------------------- 4-2-2. btm */
#wrap main .new .new_item_list li .new_item .item_btm {margin-top:var(--spacing-16);}
#wrap main .new .new_item_list li .new_item .item_btm h3 {font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-14);}
#wrap main .new .new_item_list li .new_item .item_btm .item_origin_price {font-size:var(--font-size-14); color:var(--color-inactive-v1);}
#wrap main .new .new_item_list li .new_item .item_btm .sale_price {display:flex; flex-flow:row nowrap; gap:var(--spacing-10); margin-top:14px;}
#wrap main .new .new_item_list li .new_item .item_btm .sale_price .sale {font-size:var(--font-size-17); font-weight:var(--font-weight-semibold); color:var(--color-primary);}
#wrap main .new .new_item_list li .new_item .item_btm .sale_price .price {font-size:var(--font-size-17); font-weight:var(--font-weight-semibold);}
/* ---------------------------------------- 4-3. 관심상품 등록 */
#wrap main .new .new_item_list .favorite_btn {
    position:absolute; right:20px; top:384px;
    width:36px; height:36px; z-index:10;
    display:flex; justify-content:center; align-items:center;
}
#wrap main .new .new_item_list .favorite_btn img {width:100%;}
/* ---------------------------------------- 5행-시즌 섹션 */
#wrap main .season {width:var(--width-container); padding:120px 0 160px; margin:0 auto;}
/* ---------------------------------------- 5-1. (위) 타이틀 헤더 */
#wrap main .season .season_header {}
#wrap main .season .season_header .season_title {font-size:var(--font-size-32); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-10); align-items:center; gap:var(--spacing-4); margin-bottom:var(--spacing-10);}
#wrap main .season .season_header .season_title img {width:36px;}
#wrap main .season .season_header .season_desc {color:var(--color-sub-content); margin-bottom:var(--spacing-40);}
/* ---------------------------------------- 5-2. (아래) 상품 */
#wrap main .season .season_content {width:100%; gap:var(--spacing-20);}
/* ---------------------------------------- 5-2-1. left */
#wrap main .season .season_content .season_big_img {
    background-image:url(../images/season_big_item.jpg);
    background-size:cover; background-position:center;
    background-repeat:no-repeat; width:680px; height:689px;
    position:relative;
}
#wrap main .season .season_content .season_big_img::after {
    content:''; display:block; width:100%; height:100%;
    position:absolute; left:0; top:0; z-index:1;
    background-color:rgba(0, 0, 0, 0.2);
    opacity:0; transition:opacity 0.3s ease;
}
#wrap main .season .season_content .season_big_img:hover::after, #wrap main .season .season_content .season_big_img:hover .season_more_btn {opacity:1;}
#wrap main .season .season_content .season_big_img .season_more_btn {
    font-size:var(--font-size-14); align-items:center;
    background-color:var(--color-light); padding:10px 10px 10px 16px;
    border:1px solid var(--color-dark); border-radius:var(--radius-l);
    position:absolute; left:50%; top:50%; z-index:2;
    opacity:0; transform:translate(-50%, -50%); transition:opacity 0.3s ease;
}
#wrap main .season .season_content .season_big_img .season_more_btn img {width:18px;}
#wrap main .season .season_content .season_big_img .img_text {position:absolute; left:30px; bottom:50px;}
#wrap main .season .season_content .season_big_img .img_text .img_title {font-size:var(--font-size-24); font-weight:var(--font-weight-medium); color:var(--color-light); margin-bottom:var(--spacing-18);}
#wrap main .season .season_content .season_big_img .img_text .img_desc {color:var(--color-sub-content-v2);}
/* ---------------------------------------- 5-2-2. right */
#wrap main .season .season_content .season_item_wrap {flex:1; min-width:0;}
/* ---------------------------------------- 5-2-2-1. top */
#wrap main .season .season_content .season_item_wrap .season_banner {margin-bottom:var(--spacing-50);}
#wrap main .season .season_content .season_item_wrap .season_banner img {width:100%;}
/* ---------------------------------------- 5-2-2-2. btm-상품 스와이퍼 */
#wrap main .season .season_content .season_item_wrap .season_item_list {width:100%; padding-bottom:var(--spacing-26);}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper {}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide {height:367px;}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item {}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-pagination.swiper-pagination-progressbar {
    top:auto; bottom:0; left:0; width:100%; height:2px;
    background-color:var(--color-scroll-bg);
}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-pagination-progressbar-fill {background-color:var(--color-scroll-bar);}
/* ---------------------------------------- 5-2-2-2-1. top-상품 이미지 */
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_top {margin-bottom:var(--spacing-16); overflow:hidden;}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_top img {width:100%; transition:transform 0.5s;}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_top:hover img {transform:scale(1.1);}
/* ---------------------------------------- 5-2-2-2-2. btm-상품 정보 */
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm {}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm .sub_title {font-size:var(--font-size-12); color:var(--color-inactive-v1); margin-bottom:var(--spacing-6);}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm h3 {font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-10);}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm .item_origin_price {font-size:var(--font-size-14); color:var(--color-inactive-v1);}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm .sale_price {margin-top:var(--spacing-10); display:flex; flex-flow:row nowrap; gap:var(--spacing-10);}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm .sale_price * {font-size:var(--font-size-17); font-weight:var(--font-weight-semibold);}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm .sale_price .sale {color:var(--color-primary);}
#wrap main .season .season_content .season_item_wrap .season_item_list .swiper-wrapper .season_slide .season_item .item_btm .sale_price .price {}
/* ---------------------------------------- 6행-선물 추천 섹션 */
#wrap main .gift {background-color:var(--color-main-bg);}
#wrap main .gift .gift_wrap {
    padding:120px 0; width:var(--width-container); margin:0 auto;
    display:flex; flex-flow:row nowrap; gap:var(--spacing-80);
    justify-content:space-between;
}
/* ---------------------------------------- 6-1. (왼쪽) 타이틀 랩 */
#wrap main .gift .gift_title_wrap {width:259px;}
/* ---------------------------------------- 6-1-1. 선물 타이틀 헤더 */
#wrap main .gift .gift_title_wrap .gift_header {width:100%}
#wrap main .gift .gift_title_wrap .gift_header .gift_title {font-weight:var(--font-weight-medium); font-size:var(--font-size-32); margin-bottom:10px; align-items:center; gap:var(--spacing-4);}
#wrap main .gift .gift_title_wrap .gift_header .gift_title img {width:36px;}
#wrap main .gift .gift_title_wrap .gift_header .gift_desc {
    font-size:var(--font-size-14); 
    padding-bottom:var(--spacing-30);
    border-bottom:1px solid var(--color-inactive-v1);
}
/* ---------------------------------------- 6-1-2. 카테고리 탭 영역 */
#wrap main .gift .gift_title_wrap .gift_tab_list {margin:50px 0 317px; gap:var(--spacing-30);}
#wrap main .gift .gift_title_wrap .gift_tab_list li {}
#wrap main .gift .gift_title_wrap .gift_tab_list li .tab_btn {font-size:var(--font-size-18); color:var(--color-inactive-v1); position:relative;}
#wrap main .gift .gift_title_wrap .gift_tab_list li .tab_btn::after {
    content:''; position:absolute; left:0; bottom:-10px;
    width:130%; height:3px; background-color:var(--color-point);
    opacity:0; transform-origin:left center; transform:scale(0);
    transition:opacity 0.4s ease, transform 0.4s ease;
}
#wrap main .gift .gift_title_wrap .gift_tab_list li .tab_btn:hover::after {opacity:1; transform:scale(1);}
#wrap main .gift .gift_title_wrap .gift_tab_list li .active {font-size:var(--font-size-20); color:var(--color-dark); font-weight:var(--font-weight-medium);}
/* ---------------------------------------- 6-1-3. 더보기 버튼 */
#wrap main .gift .gift_title_wrap .more_btn {
    display:flex; justify-content:center; align-items:center;
    width:100%; height:40px;
    border:1px solid var(--color-dark); border-radius:var(--radius-xs);
    color:var(--color-dark);
    position:relative; overflow:hidden; z-index:1;
    transition:color 0.7s ease;
}
#wrap main .gift .gift_title_wrap .more_btn::after {
    content:''; display:block;
    position:absolute; left:0; top:0; z-index:-1;
    width:100%; height:100%;
    background-color:var(--color-dark);
    transform:scaleX(0); transform-origin:left center; transition:transform 0.9s ease;
}
#wrap main .gift .gift_title_wrap .more_btn img {
    width:14px; height:14px;
    transform:translateY(1px) rotate(0deg); transition:filter 0.9s ease, transform 0.9s ease;
}
#wrap main .gift .gift_title_wrap .more_btn:hover::after {transform:scaleX(1);}
#wrap main .gift .gift_title_wrap .more_btn:hover {color:var(--color-light);}
#wrap main .gift .gift_title_wrap .more_btn:hover img {filter:invert(1); transform:translateY(1px) rotate(360deg);}
/* ---------------------------------------- 6-2. (오른쪽) 상품 스와이퍼 */
#wrap main .gift .gift_item_list {flex:1; position:relative; padding-bottom:50px;}
#wrap main .gift .gift_item_list .swiper-wrapper {}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide {position:relative;}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item {}
#wrap main .gift .gift_item_list .swiper_control_wrap {
    position:absolute; left:50%; bottom:0; z-index:10;
    transform:translateX(-50%);
    align-items:center; justify-content:center; gap:var(--spacing-16);
}
#wrap main .gift .gift_item_list .swiper_control_wrap .swiper-button-prev,
#wrap main .gift .gift_item_list .swiper_control_wrap .swiper-button-next {
    position:static; width:20px; height:20px; margin:0;
    background-size:contain; background-position:center; background-repeat:no-repeat;
}
#wrap main .gift .gift_item_list .swiper_control_wrap .swiper-button-prev svg,
#wrap main .gift .gift_item_list .swiper_control_wrap .swiper-button-next svg {display:none;}
#wrap main .gift .gift_item_list .swiper_control_wrap .swiper-button-prev {background-image:url(../images/more_prev_icon.png);}
#wrap main .gift .gift_item_list .swiper_control_wrap .swiper-button-next {background-image:url(../images/more_view_icon.png);}
#wrap main .gift .gift_item_list .swiper_control_wrap .swiper-pagination-fraction {position:static; width:auto; font-size:var(--font-size-14);}
/* ---------------------------------------- 6-2-1. top */
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_top {
    position:relative; 
    width:100%; height:440px; overflow:hidden;
    margin-bottom:var(--spacing-16);
}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_top img {
    width:100%; height:100%;
    object-fit:cover;
    transition:transform 0.5s;
}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_top:hover img {transform:scale(1.1);}
/* ---------------------------------------- 6-2-2. btm */
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_btm {}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_btm h3{font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-14);}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_btm .item_origin_price{font-size:var(--font-size-14); color:var(--color-inactive-v1);}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_btm .sale_price {display:flex; flex-flow:row nowrap; gap:var(--spacing-10); margin-top:14px;}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_btm .sale_price .sale{font-size:var(--font-size-17); font-weight:var(--font-weight-semibold); color:var(--color-primary);}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .gift_item .item_btm .sale_price .price{font-size:var(--font-size-17); font-weight:var(--font-weight-semibold);}
/* ---------------------------------------- 6-3. 관심상품 등록 */
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .favorite_btn {
    position:absolute; right:20px; top:384px;
    width:36px; height:36px; z-index:10;
    display:flex; justify-content:center; align-items:center;
}
#wrap main .gift .gift_item_list .swiper-wrapper .gift_slide .favorite_btn img {width:100%;}
/* ---------------------------------------- 7행-시그니처 섹션 */
#wrap main .signa {width:var(--width-container); padding:120px 0; margin:0 auto;}
/* ---------------------------------------- 7-1. (위) 타이틀 헤더 */
#wrap main .signa .signa_header {}
/* ---------------------------------------- 7-1-1. 시그니처 타이틀 랩 */
#wrap main .signa .signa_header .signa_title_wrap {}
#wrap main .signa .signa_header .signa_title_wrap .signa_title {font-size:var(--font-size-32); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-10);}
#wrap main .signa .signa_header .signa_title_wrap .signa_desc {color:var(--color-sub-content); margin-bottom:var(--spacing-20);}
/* ---------------------------------------- 7-1-2. 전체보기 */
#wrap main .signa .signa_header .signa_more_btn {justify-content:flex-end; align-items:center; font-size:var(--font-size-14); margin-bottom:var(--spacing-20);}
#wrap main .signa .signa_header .signa_more_btn img {width:var(--spacing-18);}
/* ---------------------------------------- 7-2. (아래) 상품 */
#wrap main .signa .signa_wrap {width:100%; gap:var(--spacing-24);}
/* ---------------------------------------- 7-2-1. 시그니처 카테고리 가로형(못나니즈, 팥팥노트, 해피어라벨 시리즈) */
#wrap main .signa .signa_wrap > li {}
#wrap main .signa .signa_wrap > li .signa_banner {}
#wrap main .signa .signa_wrap > li .signa_banner .banner_img {margin-bottom:var(--spacing-24);}
#wrap main .signa .signa_wrap > li .signa_banner .banner_img img {width:100%;}
#wrap main .signa .signa_wrap > li .signa_banner .banner_title {font-size:var(--font-size-22); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-16);}
#wrap main .signa .signa_wrap > li .signa_banner .banner_desc {color:var(--color-inactive-v1); margin-bottom:var(--spacing-24);}
/* ---------------------------------------- 7-2-2. 시그니처 서브 상품 */
#wrap main .signa .signa_wrap > li .sub_item_list {display:flex; flex-flow:column nowrap; gap:var(--spacing-12);}
/* ---------------------------------------- 7-2-2-1. 서브 상품 li */
#wrap main .signa .signa_wrap > li .sub_item_list li {width:100%;}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item {display:flex; flex-flow:row nowrap; gap:var(--spacing-16);}
/* ---------------------------------------- 7-2-2-1-1. (왼쪽) 상품 이미지 */
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_left {width:120px; overflow:hidden;}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_left img {width:100%; transition:transform 0.5s;}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_left:hover img {transform:scale(1.1);}
/* ---------------------------------------- 7-2-2-1-2. (오른쪽) 상품 정보 */
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_right {display:flex; flex-flow:column nowrap; gap:var(--spacing-12); justify-content:center; width:100%;}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_right h3 {font-weight:var(--font-weight-medium);}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_right .item_origin_price {font-size:var(--font-size-14); color:var(--color-inactive-v1);}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_right .sale_price {display:flex; flex-flow:row nowrap; gap:var(--spacing-10);}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_right .sale_price * {font-weight:var(--font-weight-semibold);}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_right .sale_price .sale {color:var(--color-primary);}
#wrap main .signa .signa_wrap > li .sub_item_list li .sub_item .item_right .sale_price .price {}
/* ---------------------------------------- 8행-소확행 리스트 섹션 */
#wrap main .routine {background-color:var(--color-main-bg);}
#wrap main .routine .routine_all_wrap {width:var(--width-container); padding:120px 0 120px 0; margin:0 auto;}
/* ---------------------------------------- 8-1. (위) 타이틀 헤더 */
#wrap main .routine .routine_title {font-size:var(--font-size-32); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-40); text-align:center;}
/* ---------------------------------------- 8-2. (아래) 소확행 랩 */
#wrap main .routine .routine_wrap {width:100%; align-items:center;}
/* ---------------------------------------- 8-2-1. left */
#wrap main .routine .routine_wrap .routine_all {width:785px; height:650px; margin-right:var(--spacing-20);}
#wrap main .routine .routine_wrap .routine_all img {width:100%; height:100%;}
/* ---------------------------------------- 8-2-2. right */
#wrap main .routine .routine_wrap .routine_list {gap:var(--spacing-14); width:575px;}
#wrap main .routine .routine_wrap .routine_list li {}
#wrap main .routine .routine_wrap .routine_list li a {display:flex; flex-flow:row nowrap; align-items:center; gap:var(--spacing-20); width:100%;}
/* ---------------------------------------- 8-2-2-1. 소확행 왼쪽 이미지 */
#wrap main .routine .routine_wrap .routine_list li a .thumb_img {width:200px; height:200px;}
#wrap main .routine .routine_wrap .routine_list li a .thumb_img img {width:100%;}
/* ---------------------------------------- 8-2-2-2. 소확행 오른쪽 리스트 */
#wrap main .routine .routine_wrap .routine_list li a .routine_info {}
#wrap main .routine .routine_wrap .routine_list li a .routine_info .routine_info_title {font-size:var(--font-size-20); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-10);}
#wrap main .routine .routine_wrap .routine_list li a .routine_info .routine_desc {word-break: keep-all; font-size:var(--font-size-14); line-height:var(--line-height-md); width:100%;}
/* ---------------------------------------- 9행-기부 광고 배너 섹션 */
#wrap main .donation_banner {background-color:var(--color-point);}
#wrap main .donation_banner .ad_wrap {width:var(--width-container); padding:60px 0; margin:0 auto;}
/* ---------------------------------------- 9-1. (왼쪽) 기부 광고 내용 */
#wrap main .donation_banner .ad_wrap .ad_content {}
#wrap main .donation_banner .ad_wrap .ad_content .ad_title {font-size:var(--font-size-22); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-14);}
#wrap main .donation_banner .ad_wrap .ad_content .ad_desc {font-size:var(--font-size-16); line-height:var(--line-height-md);}
/* ---------------------------------------- 9-2. (오른쪽) 기부 이미지 */
#wrap main .donation_banner .ad_wrap .ad_img {}
#wrap main .donation_banner .ad_wrap .ad_img img {width:100%;}
/* ---------------------------------------- 10행-푸터 */
#wrap footer {background-color:var(--color-sub-bg);}
#wrap footer .foot_wrap {width:var(--width-container); padding:60px 0 70px; margin:0 auto;}
/* ---------------------------------------- 10-1. (위) 이용약관 등 */
#wrap footer .foot_menu {gap:var(--spacing-20); margin-bottom:var(--spacing-50);}
#wrap footer .foot_menu li {}
#wrap footer .foot_menu li a {color:var(--color-light); font-size:var(--font-size-18); font-weight:var(--font-weight-medium);}
/* ---------------------------------------- 10-2. (아래) 회사 sns, 행복복지센터, 은행, 회사 정보 */
#wrap footer .foot_info {}
/* ---------------------------------------- 10-2-1. 회사 sns */
#wrap footer .foot_info .com_sns {}
#wrap footer .foot_info .com_sns * {color:var(--color-light);}
#wrap footer .foot_info .com_sns .foot_logo {width:80px; margin-bottom:var(--spacing-30);}
#wrap footer .foot_info .com_sns .foot_logo a {}
#wrap footer .foot_info .com_sns .foot_logo a img {width:100%;}
#wrap footer .foot_info .com_sns .copyright {font-size:var(--font-size-13); font-weight:var(--font-weight-medium); margin-bottom:var(--spacing-30);}
#wrap footer .foot_info .com_sns .sns_wrap {width:100%; gap:var(--spacing-15);}
#wrap footer .foot_info .com_sns .sns_wrap a {display:flex; flex-flow:row nowrap; align-items:center; gap:var(--spacing-6);}
#wrap footer .foot_info .com_sns .sns_wrap .youtube {}
#wrap footer .foot_info .com_sns .sns_wrap .youtube img {width:26px;}
#wrap footer .foot_info .com_sns .sns_wrap .insta {}
#wrap footer .foot_info .com_sns .sns_wrap .insta img {width:26px;}
/* ---------------------------------------- 10-2-2. 행복복지센터 */
#wrap footer .foot_info .cs_center {}
#wrap footer .foot_info .cs_center * {color:var(--color-light);}
#wrap footer .foot_info .cs_center .cs_title {font-weight:var(--font-weight-semibold); margin-bottom:var(--spacing-20);}
#wrap footer .foot_info .cs_center .cs_wrap {gap:var(--spacing-40); height:100%;}
#wrap footer .foot_info .cs_center .cs_wrap .cs_list {display:flex; flex-flow:column nowrap; gap:var(--spacing-20);}
#wrap footer .foot_info .cs_center .cs_wrap .cs_list li {}
#wrap footer .foot_info .cs_center .cs_wrap .cs_list li a {font-size:var(--font-size-14);}
/* ---------------------------------------- 10-2-3. 은행 */
#wrap footer .foot_info .bank {}
#wrap footer .foot_info .bank * {color:var(--color-light);}
#wrap footer .foot_info .bank .bank_title {font-weight:var(--font-weight-semibold); margin-bottom:var(--spacing-20);}
#wrap footer .foot_info .bank .bank_info {gap:var(--spacing-10);}
#wrap footer .foot_info .bank .bank_info p {font-size:var(--font-size-14);}
/* ---------------------------------------- 10-2-4. 회사정보 */
#wrap footer .foot_info .com_info {}
#wrap footer .foot_info .com_info * {color:var(--color-light);}
#wrap footer .foot_info .com_info .com_title {font-weight:var(--font-weight-semibold); margin-bottom:var(--spacing-20);}
#wrap footer .foot_info .com_info address {}
#wrap footer .foot_info .com_info address .info_top {gap:var(--spacing-10); margin-bottom:var(--spacing-20);}
#wrap footer .foot_info .com_info address .info_top p {font-size:var(--font-size-14);}
#wrap footer .foot_info .com_info address .info_btm {gap:var(--spacing-10);}
#wrap footer .foot_info .com_info address .info_btm p {font-size:var(--font-size-14);}
/* ---------------------------------------- CTA 버튼 */
#wrap .quick_btn_wrap {position:fixed; right:80px; bottom:40px; gap:var(--spacing-16); z-index:999;}
#wrap .quick_btn_wrap .cs_btn {
    width:70px; height:70px;
    background-color:var(--color-light); border-radius:var(--radius-l); 
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.25);
    transition:background-color 0.4s ease;
}
#wrap .quick_btn_wrap .cs_btn:hover {background-color:var(--color-point);}
#wrap .quick_btn_wrap .cs_btn img {width:42px;}
#wrap .quick_btn_wrap .top_btn_png {
    width:70px; height:70px; 
    background-color:var(--color-light); border-radius:var(--radius-l); 
    box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.25);
    position:relative;
    transition:background-color 0.4s ease;
}
#wrap .quick_btn_wrap .top_btn_png img {
    position:absolute; left:50%; top:40%;
    width:35px; height:42px;
    transform:translate(-50%, -40%);
    transition:opacity 0.4s ease, visibility 0.4s ease;
}
#wrap .quick_btn_wrap .top_btn_png .img_on {opacity:1; visibility:visible;}
#wrap .quick_btn_wrap .top_btn_png .img_hover {opacity:0; visibility:hidden;}
#wrap .quick_btn_wrap .top_btn_png:hover {background-color:var(--color-dark);}
#wrap .quick_btn_wrap .top_btn_png:hover .img_on {opacity:0; visibility:hidden;}
#wrap .quick_btn_wrap .top_btn_png:hover .img_hover {opacity:1; visibility:visible;}