/* responsive.css */
/* ------------------------------------------------------ 테블릿 */
@media screen and (max-width:1379px) {
    /* ---------------------------------------- 1행-헤더 */
    #wrap header {min-width:auto; max-width:100%; padding:0 24px;}
    #wrap header .header_wrap {width:100%; margin:0 auto;}
}
/* ------------------------------------------------------ 모바일 */